@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var hello = ViewData["Hello"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @hello
    </p>
    <p>New feature available (3)!</p>
</div>
